@page "/login"
@using Microsoft.AspNetCore.Components.Authorization;
@inject AuthenticationStateProvider AuthenticationStateProvider
@using BlazorApp;
@rendermode InteractiveServer
<input @bind="userIdentifier" />
<button @onclick="SignIn">Sign in</button>

<AuthorizeView>
    <Authorized>
        <p>Hello, @context.User.Identity?.Name!</p>
    </Authorized>
    <NotAuthorized>
        <p>You're not authorized.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    public string userIdentifier = string.Empty;

    private void SignIn()
    {
        
        ((BlazorApp.CustomAuthStateProvider)AuthenticationStateProvider)
            .AuthenticateUser(userIdentifier);
        StateHasChanged();
    }
}